* {
  margin: 0;
  padding: 0;
  transition: 0.2s;
}


:root {
  --darkgrey: #4d544f;
  --mediumgrey: rgb(74, 79, 76);
  --lightgrey: #bdbdbd;
  --textgreen: #10ad3a;
  --white: #ffffff;
}


.header {
  background-color: var(--darkgrey);

  height: 8rem;
}

.headline {
  text-align: center;
  text-decoration: none; 
   color: var(--textgreen);
}
.headline h1:hover {
  color: var(--white);
  text-decoration: none;
  box-shadow: 0px 0px 5px var(--textgreen);
}

h1 {
    margin-bottom: 1.5rem;
}


.navbar {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5px;
}
.navbar a:hover {
  color: var(--textgreen);
  text-decoration: none;
  box-shadow: 0px 0px 5px var(--textgreen);
  background-color: var(--mediumgrey);
}

.formHabit {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.habitItem {
  border: 2px solid black;
  padding-bottom: 10px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(71, 77, 71);
  color: white;
}


.ttons {
  color: white;

}

.habitPage {
  text-align: center;
}

.lists {
  display: flex;
  justify-content: space-evenly;

}
.listHome {
}

.listItem {
}

.taskList {
  display: flex;
  justify-content: space-around;
}